In [41]:
import numpy as np
import pandas as pd

**A company started to invest in digital marketing as a new way of their product
promotions. For that they collected data and decided to carry out a study on it.**

**● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.**

**● The company needs to check whether there is any dependency between
thefeatures “Region” and “Manager”.
Help the company to carry out their study with the help of data provided.**

In [4]:
data=pd.read_csv(r"D:\Data_Science & Analytics\DataSets\Sales_add.csv")
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

**1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.**

**T-test (Two Sample)**

**H0 -->there is no increase in sales after stepping into digital marketing
H1-->There is increase in sales after stepping into digital marketing**

In [26]:
from scipy.stats import ttest_ind

In [24]:
t_stat,p_value=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
p_value

2.614368006904645e-16

In [25]:
if p_value<0.05:
    print('Reject Null Hypothesis')
else:
   print("Accept Null Hypothesis")

Reject Null Hypothesis

**So,there is an increase in sales after stepping into digital marketing**

 **2.The company needs to check whether there is any dependency between thefeatures “Region” and “Manager”. Help the company to carry out their study with the help of data provided.**

**Chi-Square Test**

**Test of Independence**

**H0-->>There is no dependency between the features Region and Manager**
**H1-->>There is dependency between the feature Region and Manager**

In [34]:
from scipy.stats import chi2_contingency

In [37]:
contingency_table=pd.crosstab(data['Region'],data['Manager'])
contingency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [38]:
observed_array=np.array(contingency_table)
observed_array

array([[4, 3, 3],
       [4, 1, 2],
       [1, 3, 1]], dtype=int64)

In [39]:
chi2_contingency(observed_array)

Chi2ContingencyResult(statistic=3.050566893424036, pvalue=0.5493991051158094, dof=4, expected_freq=array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))

In [40]:
if p_value<0.05:
    print('Reject Null Hypothesis')
else:
   print("Accept Null Hypothesis")

Reject Null Hypothesis

**So,there is dependency between the feature Region and Manager**